.projects-container {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        color: rgba($color: #FFFFFF, $alpha: 0.8);
        font-size: 425px;
        font-weight: bold;
        font-family: lover modern;
        opacity: 0.8;
    }
}