.nav-container {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
  height: 100%;
  font-size: 60px;
  font-family: lover modern;
  text-align: right;
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
    li {
      width: fit-content;
      cursor: pointer;
      p {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
      }
      a {
        text-decoration: none;
      }
    }
    :hover {
      text-decoration: underline rgba(255, 255, 255, 0.8);
    }
  }
}

.nav-header {
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 40px;
  min-height: 40px;
  padding: 10px 0;
  height: fit-content;
  position: absolute;
  top: 0;

  font-size: 18px;
  font-family: lover modern;
  z-index: 2;
  text-align: center;

  .navbar-container {
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    min-width: 100%;
    padding: 5px 0;

    font-size: 18px;
    font-family: lover modern;
    z-index: 2;

    ul {
      list-style: none;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      li {
        width: 100%;
        p {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.8);
        }:hover {
          text-decoration: underline rgba(255, 255, 255, 0.8);
        }
        a {
          text-decoration: none;
        }:hover {
          text-decoration: underline rgba(255, 255, 255, 0.8);
        }
      }

      .home-btn {
        h1 {
          // FOR SOME REASON h1:hover DOESNT WORK??
          //HAVE TO SEPERATE IT LIKE THIS 
        }:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// RESPONSIVE QUERIES
@media only screen and (max-width: 767px) {
  .nav-container {
    display: none;
  }
  h1 {
    font-size: 10px;
  }
  p, a {
    font-size: 10px;
  }
}
